<a href="https://colab.research.google.com/github/KhawlahAbaalkhail/MachineLearning/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("movies.csv")

df.head()

df.shape

df.info()

df.columns

df.describe()

df.isnull().sum()

df.dtypes

df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8560 entries, 0 to 8559
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8560 non-null   int64
 1   id            8560 non-null   int64
 2   title         8560 non-null   object
 3   overview      8559 non-null   object
 4   release_date  8558 non-null   object
 5   popularity    8560 non-null   float64
 6   vote_average  8560 non-null   float64
 7   vote_count    8560 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 535.1+ KB

Unnamed: 0      8560
id              8560
title           8291
overview        8552
release_date    5740
popularity      8028
vote_average    2056
vote_count      3468
dtype: int64